
@import url("../../styles/global.css");

/* This is from all components input type */
input{ 
    border-radius:5px;
    height:40px;
    outline: none;
    border:1px solid white;
    text-align:left;
}

<<<<<<< HEAD
/*input do senha*/
.inputUser{
    display: block;
=======
/*input do usuário*/
.inputUser{ 
>>>>>>> 692630489e6fad62fee37a2b86503327ea598b76
    background: var(--background-input);
    color: var(--color-text-form-in);
    text-align:left;
    margin-left:auto;
    margin-right: auto;
    padding:10px;
    /*margin-left:10px;*/
}

/*input user placeholder*/
.inputUser::placeholder{
    color:var(--color-text-form-in);
}

/*input password*/
.inputPass{
    background: var(--background-input);
    color: var(--color-text-form-in);
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    padding:10px;
}

.inputPass::placeholder{
    color:var(--color-text-form-in);
}


/* device mobile */
@media (max-width:599px){
    input{
        border-radius:5px;
        height:40px;
        outline: none;
        border:1px solid white;
    }

    .inputUser{
        margin-top: 10px;
        font-weight:300;
        font-size:1.2rem;
        width: 75%;
    }
    
    .inputPass{
        margin-top: 10px;
        font-weight:300;
        font-size:1.2rem;
        width: 75%;
    }
}

/* device mobile and tablet */
@media (min-width:600px){
    input{
        border-radius:5px;
        height:35px;
        outline: none;
        border:1px solid white;
    }
    .inputUser{
        margin-top: 10px;
        font-weight:500;
        width: 75%;
    }
    
    .inputPass{
        margin-top: 10px;
        font-weight:500;
        width: 75%;
    }
}

/* device desktop ldip */
@media(min-width:900px){
    input{
        border-radius:5px;
        height:35px;
        outline: none;
        border:1px solid white;
    }
    .inputUser{
        margin-top: 10px;
        font-weight:500;
        width: 75%;
    }
    
    .inputPass{
        margin-top: 10px;
        font-weight:500;
        width: 75%;
    }
}

/* device desktop hdip */
@media(min-width:1200px){
    input{
        border-radius:5px;
        height:35px;
        outline: none;
        border:1px solid white;
    }
    .inputUser{
        margin-top: 10px;
        font-weight:700;
        width: 75%;
    }
    
    .inputPass{
        margin-top: 10px;
        font-weight:700;
        width: 75%;
    }
}
