
.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__link{
  position: relative;
  color: var(--white-color);
  margin-bottom: 1rem;
  transition: .3s;
  background-color: #8D8D8E;
}

.nav__link:hover{
  color: #65656F;
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}