@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("../../default.css");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
  
.App {
    /*text-align: center;*/
  }
  
  .App-icone {
    height: 15vmin;
    pointer-events: none;
  }
  
  
  .App-header {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }


  .input-fields{
    padding:0;
  }

  
  .App-link {
    color: #61dafb;
  }

  .App-form{
      background: var(--background-form);
      border-radius:var(--radius);
      box-shadow: 0px 0px 10px #565656;
  }

  .App-h1{
      color:black;
      text-align:center;
      font-size:2rem;
  }

  .App-label{
      position: relative;
      right:95px;
  }

  .App-lostPass{
      text-decoration:none;
      padding:10px;
  }

  @media (max-width:599px){
        
    .App-icone {
        height: 30vmin;
        pointer-events:stroke;
      }
      

        .App-form{
          padding:10px;
          width:92%;
      }
  }

  @media (max-width:600px){

  }

  @media(min-width:900px){
    .App-form{
        width:35%;
        padding:10px;
    }
  }

  @media (min-width:1200px){
      .App-form{
          width:10%;
      }
  }

