@charset "UTF-8";


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*tela principal*/
.AppRoot{
    background: var(--background);
    width:100vw;
    height:100vh;
}

/*tela do aplicativo - configurações primordiais*/
.App{
    background: var(--background-form);
    border:1px solid transparent;
    border-radius:5px;
    box-shadow: 2px 2px 2px 4px gray;
    color:var(--color-text-form-out);
    padding:10px;
}

.App-link{
    font-weight: 700;
    color:var(--color-text-form-out);
    text-decoration: none;
}

.App-link:hover{
    color: #242144;
}


.linha{
    border:transparent;
    border-bottom: 1px solid black;
    display:flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
    width:75%;
}

/*rodape da aplicação*/
.rodape{
    background: transparent;
    border:1px solid transparent;
    color:var(--color-text-form-out);
    padding:10px;
    text-align: center;
}

.rodape_titulo{
    font-weight: 700;
}

/*icones da rede sociais abaixo do copyright*/
.linha_rodape{
    display:flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    align-items: center;
    justify-content: center;
    padding:10px;
}




/* dispositivo celulares pequenos*/
@media (max-width:599px){
    /*Tela do formulário*/
    .App{
        margin-top:100px;
        margin-left:auto;
        margin-right:auto;
        width:95%;
    }

}

/* dispositivo celulares grande e tablets*/
@media (min-width:600px){ 
    /*Tela do formulário*/
    .App{
        margin-top:100px;
        margin-left:auto;
        margin-right:auto;
        width:95%;
    }
}

/*desktop com resolução de tela  baixa*/
@media (min-width:900px){
    /*Tela do formulário*/
    .App{
        margin-top:100px;
        margin-left:auto;
        margin-right:auto;
        width:35%;
    }
}

/*resolucão de tela de desktop com alta-resolucação*/
@media (min-width:1200px){
    /*Tela do formulário*/
    .App{
        margin-top:100px;
        margin-left:auto;
        margin-right:auto;
        width:25%;
    }
}
