@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("../../styles/global.css");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Icon lock (icone do cadeado no formulário)*/

/*
.lock-icon{
  height: 3vmin;
  position:relative;
  top:20px;
  left:2px;
  color:#25243f;
}
  */

.lock-icon{
  color: #25243f;
}
.App {
    /*text-align: center;*/
  }
  
/*icone da aplicação | application icon*/

  .App-icone {
    height: 20vmin;
    pointer-events: none;
    padding:10px;
  }
  
  
  .App-header {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

    /*line down of title and icon lock.*/

  .App-line{
    display:block;
    text-align: left;
    border:none;
    border-bottom: 1px solid black;
    width:75%;
    margin-left:auto;
    margin-right:auto;

  }
  
    /*link recover account*/
  .App-link {
    color: var(--color-text-form-out);
    text-decoration: none;
    padding:10px;
    font-size:16px;
  }

  .App-link:focus{
    color: var(--color-text-form-out-focus);
    text-decoration: none;
  }

    /*form*/

  .App-form{
      background: var(--background-form);
      border-radius:var(--radius);
      box-shadow: 0px 0px 10px #565656;
  }

  .App-title{
      color:var(--color-text-form-out);
      text-align:left;
      position:relative;
  }

  .App-subtitle{
    color:var(--color-text-form-out);
      text-align:center;
      font-size:0.9rem;
  }


  .App-twitter-icon{
    padding-left:10px;
  }
  

  .App-label{
      position: relative;
      right:95px;
  }

  .App-lostPass{
      text-decoration:none;
      padding:10px;
  }


  @media (max-width:599px){

    
    /*icone do cadeado*/
    .lock-icon{
      height:4vmin;
      position: relative;
      top:15px;
    }
    
    /*titulo ao lado do icone cadeado*/
    .App-title{
      position: relative;
      left:15px;
      font-size:.8rem;
      top:-5px;
    }


    .App-header{
      min-height: 75vh;
      font-size:.8rem;
    }
    .App-icone {
        height: 30vmin;
        pointer-events:stroke;
      }
      

        .App-form{
          padding:10px;
          width:92%;
      }
  }

  @media (min-width:600px){
     /*icone do cadeado*/
     .lock-icon{
      height:4vmin;
      position: relative;
      top:15px;
    }
    
    /*titulo ao lado do icone cadeado*/
    .App-title{
      position: relative;
      left:30px;
      font-size:.9rem;
      top:-10px;
    }

    .App-form{
        width:75%;
        padding:10px;
    }

    
  }

  @media(min-width:900px){
    
     /*icone do cadeado*/
     .lock-icon{
      height:3vmin;
      position: relative;
      top:20px;
    }
    
    /*titulo ao lado do icone cadeado*/
    .App-title{
      position: relative;
      left:28px;
      font-size:.8rem;
      top:-4px;
    }


    .App-form{
        width:35%;
        padding:10px;
    }


  }

  @media (min-width:1200px){
    
    .lock-icon{
        height:4vmin;
    }

    .App-form{

          width:30%;
    }

      .App-title{
          position:relative;
          left:35px;
          bottom: 10px;
          font-size:.9rem;

      }
  }







