@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("../../styles/global.css");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.lock-icon{
  height: 3vmin;
  position: relative;
  top:20px;
  left:2px;
  color:#25243f;
}
  
.App {
    /*text-align: center;*/
  }
  
  .App-icone {
    height: 20vmin;
    pointer-events: none;
    padding:10px;
  }
  
  
  .App-header {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .App-line{
    display:block;
    text-align: left;
    border:none;
    border-bottom: 1px solid black;
    width:75%;
    margin-left:auto;
    margin-right:auto;

  }
  
  .App-link {
    color: var(--color-text-form-out);
    text-decoration: none;
    padding:10px;
    font-size:16px;
  }

  .App-link:focus{
    color: var(--color-text-form-out-focus);
    text-decoration: none;
  }

  .App-form{
      background: var(--background-form);
      border-radius:var(--radius);
      box-shadow: 0px 0px 10px #565656;
  }

  .App-title{
      color:var(--color-text-form-out);
      text-align:left;
  }

  .App-subtitle{
    color:var(--color-text-form-out);
      text-align:center;
      font-size:0.9rem;
  }

  .App-twitter-icon{
    padding-left:10px;
  }
  

  .App-label{
      position: relative;
      right:95px;
  }

  .App-lostPass{
      text-decoration:none;
      padding:10px;
  }


  @media (max-width:599px){
    
    .lock-icon{
        height:6vmin;
        position: relative;
        bottom:10px;
    }

    .App-header{
      min-height: 75vh;
      font-size:.8rem;
    }

    .App-title{
        position: relative;
        left:15px;
        font-size:1.2rem;
    }

    .App-icone {
        height: 30vmin;
        pointer-events:stroke;
      }
      

        .App-form{
          padding:10px;
          width:92%;
      }
  }

  @media (max-width:600px){
    .lock-icon{
      height:6vmin;
    }
    .App-form{
      width:85%;
      padding:10px;
    }

    .App-title{
        position:relative;
        font-size: 0.8rem;
        font-weight: 700;
        bottom:5px;
    }
  }

  @media(min-width:900px){
    .App-form{
        width:35%;
        padding:10px;
    }

    .App-title{
        position: relative;
        left:30px;
        bottom:6px;
        font-size:.8rem;
        font-weight: 700;
    }
  }

  @media (min-width:1200px){
      .App-form{
          width:30%;
      }

      .App-title{
          position:relative;
          left:30px;
          bottom: 10px;
      }
  }



