@import url("../../styles/global.css");

/*.button{
    color:black;
    font-weight:700;
    text-align:center;
    font-weight: 700;
    width: 80%;
    padding:20px;
    margin-top:10px;
}
*/

/*
    configuracoes gerais.
*/
.button{
    background:linear-gradient(180deg, var(--background-button-left), var(--background-button-middle), var(--background-button-right));
    border:1px solid transparent;
    border-radius:5px;
    color:#fff;
    font-weight:700;
    font-size:0.9rem;
    padding:10px;
    margin-left:10px;
    margin-bottom: 10px;
}

.button:hover{
    background:linear-gradient(180deg, var(--background-button-focus-left), var(--background-button-focus-middle), var(--background-button-focus-right));
    color: #fff;
}

@media (max-width:599px){ //device mobile
    .button{
        font-weight:700;
        text-align:center;
        font-weight: 700;
        
        width: 75%;
        padding:10px;
    }
}
@media (min-width:600px){ //device mobile | tablet
    .button{
        font-weight:700;
        text-align:center;
        font-weight: 700;
        width: 75%;
        padding:10px;
    }
}
@media (min-width:900px){ //device desktop LDIP
    .button{
        font-weight:700;
        text-align:center;
        font-weight: 700;
        width: 75%;
        padding:10px;
    }
}
@media (min-width:1200px){ //device desktop HDIP
    .button{
        font-weight:700;
        text-align:center;
        font-weight: 700;
        width: 75%;
        padding:10px;
        margin-top:10px;
    }
}
