
/*valores padroões*/

:root{

    /* Paleta de cores */
    --primary-color: #dad9ed;
    --secondary-colo: #484761;
    --dark-gray: #65656f;
    --light-gray: #8d8d8e;
    
    /*border bend*/
    --radius:5px;
    /*cor do botões*/
    --color-button: #000000; /**/

    
    /*gradient button*/
    --background-button-left: #313033;
    --background-button-middle: #323232;
    --background-button-right:#313033;


     /*gradient button - active*/
    --background-button-focus-left:#565656;
    --background-button-focus-middle: #545454;
    --background-button-focus-right: #565656;


    /* form background*/
    --background-form: #dbd9ee;
    /*background view*/
    --background: #f3f3fa;
    /*font weight default*/
    --font-default-weight: 700;
    /*background input color*/
    --background-input: #474761;
    /*color text form out */
    --color-text-form-out: #474761;
    /*color text form out when make focus. */
    --color-text-form-out-focus: #474861;
    /*color text form in */
    --color-text-form-in: #f3f3fa;
}
/* index.css */
body {
    background:var(--background);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* App.css */

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

