@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body{
    background-color: #e6ffe2;
}
div#cadastro{
    width: 400px;
    background-color:#85C97A;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    text-align: center;
    font-family: roboto;
    border-radius: 10px;
    color: #000000;
    box-shadow: 0px 0px 10px #565656;
}
select,input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: white ;
    color: black;
    margin: 5px;

}
div#cadastro form {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 50px;
}
form label,input{
    display: block;
    width: 100%;
    text-align: left;
    
}
form input{
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    
}
form label{
    margin-left: 10px;
}
input#btnConfirm{
    width: 100px;
    height: 30px;
    margin-left: 35%;
    text-align: center;
    background-color: #565656;
    color: white;
    
}
