#new-class {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font: 400 16px 'Roboto', sans-serif;
}

#new-class main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 64px 32px;

  background: var(--primary-color);
  border-radius: 16px;
}

#new-class main form {
  width: 400px;
  margin: 24px;
}

#select-etapa {
  width: 100%;
  height: 40px;
  padding: 10px;
  background: var(--secondary-color);
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;

  border: 1px solid #fff
}


#new-class main form button {
  width: 100%;
  margin-top: 32px;
}

#new-class main>a {
  margin: 24px;
}

input {
  width: 100%;
}
