@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body{
    background-color: #e6ffe2;
}

div#interface {

    background-color:#e6ffe2;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 4vh;
    text-align: center;
    font-family: roboto;
    border-radius: 10px;
    color: #000000;
    

}



/* Formatação do cabeçalho */
header#cabecalho img#icone {    /* formatação da imagem inserida no cabecalho */
    position: absolute;
    width: 200px;
    margin-top: -20px;
    left: 20px;
    

    
    
}
header#cabecalho{   
    border-bottom: 1px #606060 solid;
    height: 150px;
    background-color: #85C97A;
    border-radius: 10px;
    margin-top: -40px;
    margin-left:-30px;
    margin-right: -40px;
    width: 1340px;
}
header#cabecalho h1{ 

    
    font-size: 30px;
    color: #565656;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-align: left;
    
}

div#divBusca{
    background-color:#565656;
    border:solid 1px;
    border-radius:15px;
    width:400px;
    height: 35px;
    margin-left: 25%;
    color: white;
    position: absolute;
    margin-top: 80px;
   
    
  }
  
input#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:300px;
    
  }
  div#divBusca img#btnBusca{
      height: 30px;
      margin-right: -40px;
      
  }


/* Formatação do menu */
nav#menu {
    display: block; /*um block pode flutuar pela tela */

    
}
nav#menu ul {   /* Formatação da lista do menu*/
    list-style: none;   /*Esconde o marcador*/
    text-transform: uppercase;  /*Deixa tudo Maiúscula */
    position: absolute; /* posição relativa diz respeito ao container pai, no caso o nav, 
    a posiçao absoluta é referente ao site inteiro*/
    top: 10px; /*posicionar lista a -10 pixeis abaixo na tela*/
    right: 50px;/*posicionar 50 pixeis a direita na tela*/
    

}
nav#menu li {   /* Formatação das linhas da lista do menu*/
    display: inline-block;  /*Exibe os blocos em uma linha*/
    background-color: #565656;;   /*fundo cinza escuro*/
    padding: 10px;  /*Espaçamento interno(area do container)*/
    margin: 2px;    /*Espaçamento externo*/
    transition: background-color 1s;    /*tempo de transição de cores do background*/
    border-radius: 5px;
}

nav#menu h1 {   /* Formatação do titulo da lista */

    display: none; /* esconde o titulo */
}

nav#menu li:hover { /* Formatação das linhas da lista para o evento de sobrepassar mouse */
    background-color: #e6ffe2;
}
nav#menu a{ /* Formatação dos links do menu */
    color: white;   /* cor da fonte dos links */
    text-decoration: none;  /* retira sublinhado dos links */
}

nav#menu a:hover {  /* Formatação dos links para o evento de sobrepassar mouse */
    color: #565656;
    text-decoration: underline;
}

/* Formatação da seção principal da página */
section#corpo{
    display: block;
    width: 900px;
    float: left;    /* Posiciona seção no lado esquerdo da página */
    border-right: 1px solid #606060;
    padding-right: 15px;
}

/* Formatação da seção lateral */
aside#lateral{
    display: block;
    width: 200px;
    float: right;
    background-color: #85C97A;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5%;
    
}
aside#lateral ul{
    
    list-style: none;
    height: 90px;
    margin-top: 2px;
    


    
}

/* Formatação do rodapé da página */
footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}
footer#rodape p{
    text-align: center;
}
    
    
